@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline-color: #30811b;
    border-radius: 4px;
}

.active{
    background-color: #c6f4be;
    border-color: #30811b;
}