@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

.carousel {
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--bg-outline);
    width: 100%;
}

.carousel-slide {
    pointer-events: none;
    transition: transform 0.8s ease-in-out;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.carousel-slide-first {
    pointer-events: none;
    transition: transform 0.8s ease-in-out;
    position: relative;
    z-index: 0;
    width: 100%;
}

.carousel-slide-active {
    pointer-events: auto;
    z-index: 1;
}

.carousel-prev_btn,
.carousel-next_btn {
    background-color: var(--bg-secondary);
    border-radius: 0.25rem;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10;
    transition: 0.25s ease all;
    top: 50%;
    &:hover {
        color: #26a026;
        cursor: pointer;
    }
}

.carousel-prev_btn {
    left: 1rem;
}

.carousel-next_btn {
    right: 1rem;
}

.carousel-page_indicators {
    background-color: #F8F9FA;
    border-radius: 0.25rem;
    transform: translateX(-50%);
    position: absolute;
    padding: 0.5rem;
    z-index: 10;
    display: flex;
    border: 1px solid #BDBDBD;
    bottom: 1rem;
    left: 50%;
    gap: 0.5rem;
}

.carousel-page_indicator {
    background-color: #bbbbbb;
    width: 1.25rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    border: 0;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.carousel-page_indicator-active {
    background-color: #26a026;
}
